body {
    color: #282425;
    background-color: #fff1e6;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

h1,
h2,
h3,
a {
    color: #756158;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

h1 {
    font-size: 80px;
    text-align: center;
}

h2 {
    font-size: 48px;
    text-align: center;
}

h3 {
    font-size: 24px;
}

a {
    font-style: italic;
}

.fotogalerie,
.kontakt {
    background-color: #f9e3d0;
}

.patica {
    background-color: #282425;
    color: white;
    text-align: center;
    padding: 20px 0; /* teoreticky by to mělo být ne 0, ale 15% jako zbytek textu, ale patica má krátký text*/
}

.foto-omne {
    width: 200px;
    border-radius: 50%;
}

.fotogalerie img {
    width: 32%;
    border: 2px solid #756158;
    border-radius: 10px;
}

.foto-pruvodce {
    width: 350px;
    border-radius: 0 50px 50px 50px;
}

.foto-kontakt {
    width: 350px;
    border-radius: 50px 0 50px 50px;
}

.cenik {
    border-spacing: 0;
}


.sluzba {
    text-align: left;
}


.cena {
    text-align: right;
    padding-left: 50px; /* 0-1-0 */
} 

.cenik th,  /* 0-1-1 --> tohle vyhrává*/
.cenik td {
    border-bottom: 2px solid #756158;
    padding: 10px 0;
    text-align: left;
}

/* a kdyby misto 89-94*/
th, /* 0-0-1 což je stejná váha jako 0-1-0 nebo menší bo je 1 až na třetím místě? nechápu, jestli mají ty tři místa stejnou váhu*/
td {
    border-bottom: 2px solid #756158;
    padding: 10px 0;
    text-align: left;
}


section {
    padding: 50px 15%;
}
